.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.neumorphinsm {
  border-radius: 12px;
  background: #F5F8FC;
  box-shadow:  20px 20px 60px #d0d3d6,
              -20px -20px 60px #ffffff;
}

.dark-neumorphinsm {
  border-radius: 12px;
  background: #1A2133;
  box-shadow:  20px 20px 60px #161c2b,
              -20px -20px 60px #1e263b;
}

.group-list {
  flex-grow: 1;
  overflow: auto;
  /* height: 73%;  */
  transition: all 0.2s linear;
}

.message-list {
  overflow: auto;
}

#list-checkbox:checked ~ .group-list{
  height: 0;
}

.group-list::-webkit-scrollbar,
.message-list::-webkit-scrollbar {
  width: 8px;
}

.group-list::-webkit-scrollbar-track,
.message-list::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #1d519b95;
}

.group-list::-webkit-scrollbar-thumb,
.message-list::-webkit-scrollbar-thumb {
  background: #69a7f4;
  border-radius: 100vh;
  /* border: 3px solid #256fa1; */
}
.custom-color:hover .custom-color__list {
  display: flex;
}

.custom-img:hover .custom-img__list {
  display: block;
}

.chat-menu {
  transition: all .3s linear;
}

#chat-menu-checkbox:checked ~ .chat-menu {
  transform: translateX(0);
}

.custom-menu {
  transition: all .3s linear;
}

#custom-menu-checkbox:checked ~ .custom-menu {
  transform: translateX(0);
}

/* .customing-background:hover {
  height: 4rem;
} */

.customing-background:hover > .remove-btn {
  display: block;
}

.triangle::before {
  content: '';
  position: absolute;
  bottom: -14px;
  right: 30%;
  /* transform: translateX(10%); */
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom: 0;
  border-top: 12px solid #1D4ED8;
}

.triangle::after {
  content: '';
  position: absolute;
  bottom: -18px;
  right: 50%;
  transform: translateX(50%);
  width: 80px;
  height: 20px;
}

.emoji:hover .emoji-list {
  display: flex;
}

.glassmorphism-style {
  backdrop-filter: blur(3px) saturate(200%);
  -webkit-backdrop-filter: blur(3px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.36);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}